<footer class="site-footer">
  <div class="container">
    <div class="row py-5 border-top">
      <div class="col-md-4">
        <h5>Workout Tracker</h5>
        <p>Your personal tool to log and track your workouts with ease.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="https://facebook.com">Facebook</a></li>
          <li><a href="https://twitter.com">Twitter</a></li>
          <li><a href="https://instagram.com">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <p>&copy; 2024 Workout Tracker. All rights reserved.</p>
  </div>
</footer>